{% extends 'base.html' %}
{% load myfilter %}
{% block title %}
    个人博客
{% endblock %}

{% block main %}

<div class='row' style="margin: auto;width: 95%;">
    {% include "left.html" %}
    {% include "right.html" %}
</div>
<div class='row' style="margin: auto;width: 95%;">
    <div class="col-8">
            <strong class="step-links">
                <strong class="current">
                    当前页 {{ page_obj.number }} 总页数 {{ page_obj.paginator.num_pages }}.
                </strong>
                {% if page_obj.has_previous %}
                    <a href="/blog/catagory/{{ catagory_id }}/?page=1">首页</a>
                    <a href="/blog/catagory/{{ catagory_id }}/?page={{ page_obj.previous_page_number }}">上一页</a>
                {% endif %}
                {% if page_obj.has_next %}
                    <a href="/blog/catagory/{{ catagory_id }}/?page={{ page_obj.next_page_number }}">下一页</a>
                    <a href="/blog/catagory/{{ catagory_id }}/?page={{ page_obj.paginator.num_pages }}">尾页</a>
                {% endif %}
            </strong>
        </div>
</div>
{% endblock %}
